@using Microsoft.AspNetCore.Identity

@inject SignInManager<Pharmacies.Models.PharmaciesUser> SignInManager
@inject UserManager<Pharmacies.Models.PharmaciesUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
        <div class="collapse navbar-collapse font-weight-bold d-flex justify-content-between" id="navbarNav">
            <ul class="navbar-nav right-side">
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand text-dark font-weight-bold">Home</a>
                </li>
            </ul>
            @*<div>*@
                <ul class="navbar-nav font-weight-bold left-side">
                    <li class="nav-item  dl-horizontal">
                        <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Здравей, @UserManager.GetUserName(User)! </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Account" asp-action="Logout">Изход</a>
                    </li>
                </ul>
            @*</div>*@

        </div>
}
else
{
    <div class="collapse navbar-collapse font-weight-bold d-flex justify-content-between" id="navbarNav">
        <ul class="navbar-nav right-side">
            <li class="nav-item">
                <a asp-controller="Home" asp-action="Index" class="navbar-brand text-dark font-weight-bold">Home</a>
            </li>
        </ul>
        <ul class="navbar-nav left-side">
            <li class="nav-item">
                <a asp-controller="Account" asp-action="Register" class="navbar-brand text-dark font-weight-bold">Регистрация</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Account" asp-action="Login" class="navbar-brand text-dark font-weight-bold">Вход</a>
            </li>
        </ul>
    </div>
}
